# =========================
# Visual Studio / Rider / IDE files
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.dotSettings.user
*.csproj
*.http
# =========================
# Build outputs
# =========================
bin/
obj/
out/
Debug/
Release/
Properties/
*json


# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
.nuget/
packages/

# =========================
# Rider
# =========================
.idea/

# =========================
# ASP.NET / .NET Core
# =========================
#*.db
*.mdf
*.ldf
# =========================
# Environment files
# =========================
#.env
#.env.local
#.env.*.local

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# EF Core Migrations
# =========================
Migrations/
**/Migrations/

# =========================
# User-specific files
# =========================
*.suo
*.user
*.userprefs

# =========================
# Publish / deployment
# =========================
.publish/



# =========================
# Misc
# =========================
.vscode/
.DS_Store
Thumbs.db
